In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
random.seed(44)

rows = []
object_types = ['Car','Motorcycle','Bike','Pedestrian','Truck','Animal']
speed_ranges = {
                'Car':(1.224,100),'Motorcycle':(1.224,100),
                'Bike':(1.44,30),'Pedestrian':(1.44,10),
                'Truck':(1.224,80),'Animal':(1.44,10)
               }

for i in range(1,10001):
    obj = random.choice(object_types)
    speed = random.uniform(*speed_ranges[obj])
    ttc = round(random.uniform(0.5, 8.0),2)
    braking = 1 if ttc <= 4 else 0
    avoided = 1 if braking == 1 and ttc >= 2 else 0

    rows.append({
        'Scenario_id' : i,
        'Object_type' : obj,
        'Object_speed_kmph' : speed,
        'time_to_collision_sec' : ttc,
        'braking_triggered' : braking,
        'collision_avoided' : avoided
    })

adv_df = pd.DataFrame(rows)

In [3]:
adv_df

,Scenario_id,Object_type,Object_speed_kmph,time_to_collision_sec,braking_triggered,collision_avoided
0,1,Pedestrian,5.891375,5.76,0,0
1,2,Car,18.674326,2.19,1,1
2,3,Car,23.417628,4.77,0,0
3,4,Car,16.701245,4.35,0,0
4,5,Bike,21.246653,3.34,1,1
...,...,...,...,...,...,...
9995,9996,Animal,2.487021,6.94,0,0
9996,9997,Animal,8.041651,2.44,1,1
9997,9998,Car,39.906191,6.21,0,0
9998,9999,Pedestrian,4.374561,2.94,1,1
9999,10000,Truck,50.475626,1.24,1,0